{% extends "::base.html.twig" %}

{% block title %}AppBundle:Supplement:postProductSupplement{% endblock %}

{% block body %}
<h1>Welcome to the Supplement:postProductSupplement page</h1>
{% endblock %}
