{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre-page">Bienvenue sur votre espace de gestion</h1>

    <div class="container">
        <h2>Vous n'avez pas encore de compte ? <a href="{{ path('fos_user_registration_register') }}">Créez en un</a> </h2>
    </div>
{% endblock %}
